<odoo>
  <record id="action_partner_myanmar" model="ir.actions.act_window">
    <field name="name">Myanmar Unicode sample</field>
    <field name="res_model">res.partner</field>
    <field name="view_mode">list,form</field>
    <field name="domain" eval="[('id', '=', ref('myanmar_pdf_demo.partner_myanmar'))]"/>
  </record>
  <menuitem id="menu_root" name="Myanmar PDF Demo" sequence="5"/>
  <menuitem id="menu_sample" parent="menu_root" name="Unicode sample" action="action_partner_myanmar" sequence="1"/>
</odoo>
